@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: #06061C;
    overflow-x: hidden;
}
